.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  max-width: 600px;

  > span {
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
